@keyframes animatsiya {
  0% {
    transform: translateX(-3px);
  }
  25% {
    transform: translateX(3px);
  }
  50% {
    transform: translateX(-3px);
  }

  100% {
    transform: translateX(0px);
  }
}

.input {
  width: 200px;
  height: 50px;
  border: 3px solid;
  border-radius: 10px;
  padding: 0px 30px;
  outline: none;
}

.input:valid {
  border: 3px solid yellowgreen;
  color: yellowgreen;
}

.input:invalid {
  border: 3px solid red;
  color: red;

  animation-name: animatsiya;
  animation-duration: 0.3s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}

input::placeholder {
  color: green;
}
